html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
body{
    margin: 0;
    padding: 0;
    color: #505962;
    background-color: white;
}
.navbar{
    background: rgba(0, 0, 0, 0);
}
//video section
#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
.caption{
    position: absolute;
    top: 5%;
    color: #f1f1f1;
    width: 100%;
    h1{
        font-size: 2rem;
        letter-spacing: .2rem;    
        text-shadow: .1rem .1rem .8rem black;
        padding-bottom: 1rem;
    }
    h3{
        font-size: 1rem;
        text-shadow: .1rem .1rem .5rem black;
        padding-bottom: 1.6rem;
    }
    .btn-lg{
        border-width: medium;
        border-radius: 0;
        font-size: 1.1rem;
        padding: .6rem 1.3rem;
    }
}

//wave
.wave-section{
    width: 100%;
    min-height: 500px;
}
.wave{
    position: relative;   
    background: linear-gradient(90deg,#f0027f,#75489f);
}
.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background:url(/img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;

}

//carousel section
#work{
    //shoe pics need to be 1200x720 for best results on pc
    margin-top: 4rem;
    width: 90vw;
}
//services section
#services{

}

